<div class="container">
  <h2>Seller List</h2>

  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-primary" (click)="addNewSeller()">Add Seller</button>
      <button class="btn btn-primary margin-left-10" (click)="deleteSelected()" [disabled]="disabledDelSel">Delete Selected</button>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="Search">
    </div>
  </div>

  <table class="table margin-left-15">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" (click)="sort('sellername')">Seller Name
          <span class="glyphicon sort-icon" *ngIf="key =='sellername'"
            [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"> <i class="material-icons">sort</i></span>
        </th>
        <th scope="col" (click)="sort('currencies')">Currencies
          <span class="glyphicon sort-icon" *ngIf="key =='currencies'"
            [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"><i class="material-icons">sort</i></span>
        </th>
        <th scope="col" (click)="sort('offices')">Offices
          <span class="glyphicon sort-icon" *ngIf="key =='offices'"
            [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"> <i class="material-icons">sort</i></span>
        </th>
        <th scope="col" (click)="sort('biddedDeals')">Bidded Deals
          <span class="glyphicon sort-icon" *ngIf="key =='biddedDeals'"
            [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"> <i class="material-icons">sort</i></span>
        </th>
        <th scope="col" (click)="sort('guarntDeals')">Guaranted Deals
          <span class="glyphicon sort-icon" *ngIf="key =='guarntDeals'"
            [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"> <i class="material-icons">sort</i></span>
        </th>
        <th scope="col" (click)="sort('sellerActDate')">Seller Activation Date
          <span class="glyphicon sort-icon" *ngIf="key =='sellerActDate'"
            [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"> <i class="material-icons">sort</i></span>
        </th>
        <th scope="col" (click)="sort('contactName')">Contact Name
          <span class="glyphicon sort-icon" *ngIf="key =='contactName'"
            [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"> <i class="material-icons">sort</i></span>
        </th>
        <th scope="col" (click)="sort('emailAdd')">Email
          <span class="glyphicon sort-icon" *ngIf="key =='emailAdd'"
            [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"> <i class="material-icons">sort</i></span>
        </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let sellerobj of sellerListObj | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 7, currentPage: p };">
        <td><input type="checkbox" (click)="selectID(sellerobj.id,$event)"></td>
        <td>{{sellerobj.sellername}}</td>
        <td *ngFor="let cur of sellerobj.currencies">{{cur.itemName}}</td>
        <td *ngFor="let ofc of sellerobj.offices">{{ofc.itemName}}</td>
        <td>{{sellerobj.biddedDeals}}</td>
        <td>{{sellerobj.guarntDeals}}</td>
        <td *ngIf="sellerobj.sellerActDate ? sellerobj.sellerActDate : 'blank'">{{sellerobj.sellerActDate}}</td>
        <td *ngIf="sellerobj.contactName ? sellerobj.contactName : 'blank'">{{sellerobj.contactName}}</td>
        <td *ngIf="sellerobj.emailAdd ? sellerobj.emailAdd : 'blank'">{{sellerobj.emailAdd}}</td>
        <td>
          <button id="remove" (click)="deleteRow(sellerobj.id)"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19M8,9H16V19H8V9M15.5,4L14.5,3H9.5L8.5,4H5V6H19V4H15.5Z" />
            </svg></button></td>
        <td>
          <!-- [routerLink]="['/edit', sellerobj.id]"  -->
          <button id="edit" (click)="editRow(sellerobj.id)"><svg
              style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M14.06,9L15,9.94L5.92,19H5V18.08L14.06,9M17.66,3C17.41,3 17.15,3.1 16.96,3.29L15.13,5.12L18.88,8.87L20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18.17,3.09 17.92,3 17.66,3M14.06,6.19L3,17.25V21H6.75L17.81,9.94L14.06,6.19Z" />
            </svg></button>
        </td>

      </tr>
    </tbody>
    <div class="row">

      <div class="col-md-12">
        <pagination-controls (pageChange)="p = $event" style="float:right ;"></pagination-controls>
      </div>
    </div>


  </table>

</div>