table {
    width: 100%;
  }

  thead>tr>th {
    cursor: pointer;
}

.margin-left-10 {
  margin-left: 10px;
}
.margin-left-15 {
  margin-top: 15px;
}

.istyle{
  border: none !important;
  background-color: transparent !important;
}